In [2]:
import numpy as np
import pandas as pd

import sqlite3 as sql

In [3]:
RDB =  sql.connect("RDB")

In [8]:
query ='''SELECT city||state , count(text) FROM Review_Business GROUP BY city||state ORDER BY count(text) DESC'''
city_state_review_count = pd.read_sql_query(query,RDB)

In [9]:
city_state_review_count.head()

    city||state  count(text)
0   Las VegasNV      1615064
1     PhoenixAZ       551274
2     TorontoON       484296
3  ScottsdaleAZ       294723
4   CharlotteNC       283413